In [61]:
# needed libraries
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

WYOMING

In [74]:
wy = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=WY')

In [75]:
wy

[  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                   Rk             Player                Yrs               From
 0                  1        Mike Dabich                  1               1968
 1                  2       Jimmy Darden                  1               1950
 2                  3       Vern Gardner                  3               1950
 3                  4      James Johnson                 15               2010
 4                  5         John Pilch                  1               1952
 5                  6       Moe Radovich                  1               1953
 6                  7       Floyd Volker                  1               1950

   Unnamed: 4_level_0 Totals                              ... Shooting         \
                   To      G       MP    FG   FGA     3P  ...      3P%    FT%
 0               1968     10     49.0     8    12    0.0  ...      NaN  0.444
 1               1950     26      NaN    78   243    NaN  ...      NaN  0.688
 2               1952    151    507.0   514  1493    NaN  ...      NaN  0.748
 3               2024    773  15517.0  2307  4869  381.0  ...      0.3  0.678
 4               1952      9     41.0     1    10    NaN  ...      NaN  0.500
 5               1953      4     33.0     5    13    NaN  ...      NaN  1.000
 6               1950     54      NaN   163   527    NaN  ...      NaN  0.550

   Per Game                                  Birth
         MP  PTS  TRB  AST  STL  BLK          Date         City
 0      4.9  2.0  1.3  0.2  NaN  NaN  Dec 27, 1942       Lander
 1      NaN  8.1  NaN  2.6  NaN  NaN  Jun 19, 1922     Cheyenne
 2     18.8  8.9  4.0  1.6  NaN  NaN  May 14, 1925        Afton
 3     20.1  7.5  3.5  2.1  0.8  0.8  Feb 20, 1987     Cheyenne
 4      4.6  0.6  1.0  0.2  NaN  NaN  Jul 11, 1925     Sheridan
 5      8.3  3.5  0.3  2.0  NaN  NaN   May 5, 1929  Hot Springs
 6      NaN  7.4  NaN  2.1  NaN  NaN  Jun 21, 1921       Casper

 [7 rows x 32 columns]]

In [76]:
WY = wy[0]

In [78]:
WY.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]
WY.head()

,Rk,Player,Yrs,From,To,G,MP,FG,FGA,3P,...,3P%,FT%,MP,PTS,TRB,AST,STL,BLK,Date,City
0,1,Mike Dabich,1,1968,1968,10,49.0,8,12,0.0,...,NaN,0.444,4.9,2.0,1.3,0.2,NaN,NaN,"Dec 27, 1942",Lander
1,2,Jimmy Darden,1,1950,1950,26,NaN,78,243,NaN,...,NaN,0.688,NaN,8.1,NaN,2.6,NaN,NaN,"Jun 19, 1922",Cheyenne
2,3,Vern Gardner,3,1950,1952,151,507.0,514,1493,NaN,...,NaN,0.748,18.8,8.9,4.0,1.6,NaN,NaN,"May 14, 1925",Afton
3,4,James Johnson,15,2010,2024,773,15517.0,2307,4869,381.0,...,0.3,0.678,20.1,7.5,3.5,2.1,0.8,0.8,"Feb 20, 1987",Cheyenne
4,5,John Pilch,1,1952,1952,9,41.0,1,10,NaN,...,NaN,0.500,4.6,0.6,1.0,0.2,NaN,NaN,"Jul 11, 1925",Sheridan

In [82]:
WY.head()

,Player,Yrs,From,To,G,MP,FG,FGA,3P,3PA,...,3P%,FT%,MP,PTS,TRB,AST,STL,BLK,Date,City
0,Mike Dabich,1,1968,1968,10,49.0,8,12,0.0,0.0,...,NaN,0.444,4.9,2.0,1.3,0.2,NaN,NaN,"Dec 27, 1942",Lander
1,Jimmy Darden,1,1950,1950,26,NaN,78,243,NaN,NaN,...,NaN,0.688,NaN,8.1,NaN,2.6,NaN,NaN,"Jun 19, 1922",Cheyenne
2,Vern Gardner,3,1950,1952,151,507.0,514,1493,NaN,NaN,...,NaN,0.748,18.8,8.9,4.0,1.6,NaN,NaN,"May 14, 1925",Afton
3,James Johnson,15,2010,2024,773,15517.0,2307,4869,381.0,1268.0,...,0.3,0.678,20.1,7.5,3.5,2.1,0.8,0.8,"Feb 20, 1987",Cheyenne
4,John Pilch,1,1952,1952,9,41.0,1,10,NaN,NaN,...,NaN,0.500,4.6,0.6,1.0,0.2,NaN,NaN,"Jul 11, 1925",Sheridan

WISCONSIN

In [83]:
wi = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=WI')

In [84]:
WI = wi[0]

In [85]:
WI.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [87]:
del WI['Rk']

In [88]:
WI = WI.drop(WI[WI['Player'] == 'Player'].index)

WEST VIRGINIA

In [91]:
wv = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=WV')

In [92]:
WV = wv[0]

In [93]:
WV.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [94]:
del WV['Rk']

In [95]:
WV = WV.drop(WV[WV['Player'] == 'Player'].index)

WASHINGTON

In [96]:
wa = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=WA')

In [97]:
WA = wa[0]

In [98]:
WA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [99]:
del WA['Rk']

In [100]:
WA = WA.drop(WA[WA['Player'] == 'Player'].index)

VIRGINIA

In [101]:
va = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=VA')

In [102]:
VA = va[0]

In [103]:
VA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [104]:
del VA['Rk']

In [105]:
VA = VA.drop(VA[VA['Player'] == 'Player'].index)

UTAH

In [106]:
ut = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=UT')

In [107]:
UT = ut[0]

In [108]:
UT.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [109]:
del UT['Rk']

In [110]:
UT = UT.drop(UT[UT['Player'] == 'Player'].index)

TEXAS

In [111]:
tx = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=TX')

In [112]:
TX = tx[0]

In [113]:
TX.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [114]:
del TX['Rk']

In [115]:
TX = TX.drop(TX[TX['Player'] == 'Player'].index)

TENNESSEE

In [116]:
tn = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=TN')

In [117]:
TN = tn[0]

In [118]:
TN.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [119]:
del TN['Rk']

In [120]:
TN = TN.drop(TN[TN['Player'] == 'Player'].index)

SOUTH DAKOTA

In [121]:
sd = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=SD')

In [122]:
SD = sd[0]

In [123]:
SD.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [124]:
del SD['Rk']

SOUTH CAROLINA

In [125]:
sc = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=SC')

In [126]:
SC = sc[0]

In [127]:
SC.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [128]:
del SC['Rk']

In [129]:
SC = SC.drop(SC[SC['Player'] == 'Player'].index)

RHODE ISLAND

In [130]:
ri = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=RI')

In [131]:
RI = ri[0]

In [132]:
RI.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [133]:
del RI['Rk']

PENNSYLVANIA

In [134]:
pa = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=PA')

In [135]:
PA = pa[0]

In [136]:
PA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [137]:
del PA['Rk']

In [138]:
PA = PA.drop(PA[PA['Player'] == 'Player'].index)

OREGON

In [139]:
ore = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=OR')

In [140]:
OR = ore[0]

In [141]:
OR.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [142]:
del OR['Rk']

In [143]:
OR = OR.drop(OR[OR['Player'] == 'Player'].index)

OKLAHOMA

In [144]:
ok = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=OK')

In [145]:
OK = ok[0]

In [146]:
OK.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [147]:
del OK['Rk']

In [148]:
OK = OK.drop(OK[OK['Player'] == 'Player'].index)

OHIO

In [149]:
oh = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=OH')

In [150]:
OH = oh[0]

In [151]:
OH.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [152]:
del OH["Rk"]

In [153]:
OH = OH.drop(OH[OH['Player'] == 'Player'].index)

NORTH DAKOTA

In [154]:
nd = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=ND')

In [155]:
ND = nd[0]

In [156]:
ND.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [157]:
del ND['Rk']

In [158]:
ND = ND.drop(ND[ND['Player'] == 'Player'].index)

NORTH CAROLINA

In [159]:
nc = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NC')

In [160]:
NC = nc[0]

In [161]:
NC.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [162]:
del NC['Rk']

In [163]:
NC = NC.drop(NC[NC['Player'] == 'Player'].index)

NEW YORK

In [164]:
ny = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NY')

In [165]:
NY = ny[0]

In [166]:
NY.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [167]:
del NY['Rk']

In [168]:
NY = NY.drop(NY[NY['Player'] == 'Player'].index)

NEW MEXICO

In [169]:
nm = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NM')

In [170]:
NM = nm[0]

In [171]:
NM.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [172]:
del NM['Rk']

In [173]:
NM = NM.drop(NM[NM['Player'] == 'Player'].index)

NEW JERSEY

In [174]:
nj = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NJ')

In [175]:
NJ = nj[0]

In [176]:
NJ.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [177]:
del NJ['Rk']

In [178]:
NJ = NJ.drop(NJ[NJ['Player'] == 'Player'].index)

NEW HAMPSHIRE

In [179]:
nh = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NH')

In [180]:
NH = nh[0]

In [181]:
NH.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [182]:
del NH['Rk']

In [183]:
NH = NH.drop(NH[NH['Player'] == 'Player'].index)

NEVADA

In [184]:
nv = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NV')

In [185]:
NV = nv[0]

In [186]:
NV.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [187]:
del NV['Rk']

NEBRASKA

In [188]:
ne = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=NE')

In [189]:
NE = ne[0]

In [190]:
NE.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [191]:
del NE['Rk']

MONTANA

In [192]:
mt = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=MT')

In [193]:
MT = mt[0]

In [194]:
MT.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [195]:
del MT['Rk']

MISSISSIPPI

In [196]:
ms = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=MS')

In [197]:
MS = ms[0]

In [198]:
MS.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [199]:
del MS['Rk']

In [200]:
MS = MS.drop(MS[MS['Player'] == 'Player'].index)

MINNESOTA

In [201]:
mn = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=MN')

In [202]:
MN = mn[0]

In [203]:
MN.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [204]:
del MN['Rk']

In [205]:
MN = MN.drop(MN[MN['Player'] == 'Player'].index)

MICHIGAN

In [206]:
mi = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=MI')

In [207]:
MI = mi[0]

In [208]:
MI.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [209]:
del MI['Rk']

In [210]:
MI = MI.drop(MI[MI['Player'] == 'Player'].index)

Massachusetts

In [211]:
ma = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=MA')

In [212]:
MA = ma[0]

In [213]:
MA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [214]:
del MA['Rk']

In [215]:
MA = MA.drop(MA[MA['Player'] == 'Player'].index)

MARYLAND

In [217]:
md = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=MD')

In [218]:
MD = md[0]

In [219]:
MD.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [220]:
del MD['Rk']

In [221]:
MD = MD.drop(MD[MD['Player'] == 'Player'].index)

MAINE

In [222]:
me = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=ME')

In [223]:
ME = me[0]

In [224]:
ME.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [225]:
del ME['Rk']

LOUISIANA

In [226]:
la = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=LA')

In [227]:
LA = la[0]

In [228]:
LA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [229]:
del LA['Rk']

In [230]:
LA = LA.drop(LA[LA['Player'] == 'Player'].index)

KENTUCKY

In [231]:
ky = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=KY')

In [232]:
KY = ky[0]

In [233]:
KY.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [234]:
del KY['Rk']

In [235]:
KY = KY.drop(KY[KY['Player'] == 'Player'].index)

KANSAS

In [236]:
ks = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=KS')

In [237]:
KS = ks[0]

In [238]:
KS.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [239]:
del KS['Rk']

In [240]:
KS = KS.drop(KS[KS['Player'] == 'Player'].index)

IOWA

In [241]:
ia = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=IA')

In [242]:
IA = ia[0]

In [243]:
IA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [244]:
del IA['Rk']

In [245]:
IA = IA.drop(IA[IA['Player'] == 'Player'].index)

INDIANA

In [246]:
ind = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=IN')

In [247]:
IN = ind[0]

In [248]:
IN.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [249]:
del IN['Rk']

In [250]:
IN = IN.drop(IN[IN['Player'] == 'Player'].index)

ILLINOIS

In [251]:
il = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=IL')

In [252]:
IL =il[0]

In [253]:
IL.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [254]:
del IL['Rk']

In [255]:
IL = IL.drop(IL[IL['Player'] == 'Player'].index)

IDAHO

In [256]:
id = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=ID')

In [257]:
ID = id[0]

In [258]:
ID.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [259]:
del ID['Rk']

In [260]:
ID = ID.drop(ID[ID['Player'] == 'Player'].index)

HAWAII

In [261]:
hi = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=HI')

In [262]:
HI = hi[0]

In [263]:
HI.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [264]:
del HI['Rk']

GEORGIA

In [265]:
ga = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=GA')

In [266]:
GA = ga[0]

In [267]:
GA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [268]:
del GA['Rk']

In [269]:
GA = GA.drop(GA[GA['Player'] == 'Player'].index)

FLORIDA

In [270]:
fl = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=FL')

In [271]:
FL = fl[0]

In [272]:
FL.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [273]:
del FL['Rk']

In [274]:
FL = FL.drop(FL[FL['Player'] == 'Player'].index)

DISTRICT OF COLUMBIA

In [275]:
dc = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=DC')

In [276]:
DC = dc[0]

In [277]:
DC.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [278]:
del DC['Rk']

In [279]:
DC = DC.drop(DC[DC['Player'] == 'Player'].index)

DELAWARE

In [280]:
de = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=DE')

In [281]:
DE = de[0]

In [282]:
DE.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [283]:
del DE['Rk']

CONNECTICUT

In [284]:
ct = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=CT')

In [285]:
CT = ct[0]

In [286]:
CT.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [287]:
del CT['Rk']

In [288]:
CT = CT.drop(CT[CT['Player'] == 'Player'].index)

COLORADO

In [289]:
co = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=CO')

In [290]:
CO = co[0]

In [291]:
CO.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [292]:
del CO['Rk']

CALIFORNIA

In [293]:
ca = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=CA')

In [294]:
CA = ca[0]

In [295]:
CA.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [296]:
del CA['Rk']

In [297]:
CA = CA.drop(CA[CA['Player'] == 'Player'].index)

ARKANSAS

In [298]:
ar = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=AR')

In [299]:
AR = ar[0]

In [300]:
AR.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [301]:
del AR['Rk']

In [302]:
AR = AR.drop(AR[AR['Player'] == 'Player'].index)

ARIZONA

In [303]:
az = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=AZ')

In [304]:
AZ = az[0]

In [305]:
AZ.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [306]:
del AZ['Rk']

ALASKA

In [307]:
ak = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=AK')

In [308]:
AK = ak[0]

In [309]:
AK.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [310]:
del AK['Rk']

ALABAMA

In [311]:
al = pd.read_html('https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state=AL')

In [312]:
AL = al[0]

In [313]:
AL.columns = [
    'Rk', 'Player', 'Yrs', 'From', 'To', 'G', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'TRB', 'AST', 'STL',
    'BLK', 'TOV', 'PF', 'PTS', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'Date', 'City'
]

In [314]:
del AL['Rk']

In [315]:
AL = AL.drop(AL[AL['Player'] == 'Player'].index)